@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-primary: #0D9488;
  --color-secondary: #F97316;
  --color-neutral: #1F2937;
}

@plugin "daisyui/theme" {
  name: "trailnest";
  default: true;
  color-scheme: light;
  --color-primary: #0D9488;
  --color-secondary: #F97316;
  --color-neutral: #1F2937;
  --color-base-100: #ffffff;
}